<%= form_with(model: autocomplete, local: true) do |form| %>
  <% if autocomplete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autocomplete.errors.count, "error") %> prohibited this autocomplete from being saved:</h2>

      <ul>
      <% autocomplete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
 <%= form.label 'Adress' %>
 <%= form.text_field :address, placeholder: "Enter your adress", id: :autocomplete_address %>
</div>

<div class="field">
 <%= form.label 'Channel number' %>
 <%= form.number_field :street_number, id: :street_number %>
</div>

<div class="field">
 <%= form.label 'Town' %>
 <%= form.text_field :locality, id: :locality %>
</div>
 
<div class="field">
 <%= form.label 'Name of the channel' %>
 <%= form.text_field :route, id: :route %>
</div>

<div class="field">
 <%= form.label 'Area' %>
 <%= form.text_field :administrative_area_level_1, id: :administrative_area_level_1 %>
</div>

<div class="field">
 <%= form.label 'Country' %>
 <%= form.text_field :country, id: :country %>
</div>

<div class="field">
 <%= form.label 'Postal code' %>
 <%= form.number_field :postal_code, id: :postal_code %>
</div>

<div class="actions">
 <div class="btn waves-effect waves-light">
  <%= form.submit "submit" %>
 </div>
</div>
<% end %>
